html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://us.123rf.com/450wm/panychev/panychev1604/panychev160400448/55678195-resumen-de-fondo-azul-elemento-de-dise%C3%B1o-tel%C3%B3n-de-fondo-para-obras-de-arte-y-carteles-.jpg?ver=6");
    width: 100%;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#bordeSuperior {
    display: flex;
    background-color: rgb(0, 0, 0);
    border: solid 2px black;
    width: 90%;
    height: 2em;
    margin: auto;
}


#contenedorPrincipal {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    width: 90%;
    border: solid 2px black;
    margin: auto;
}

#menuLateral {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/276/148/1017/square-dark-shapes-black-wallpaper-preview.jpg");
    width: 18%;
    height: auto;
    background-size: cover;
}

#menuLateral div {
    width: 100%;
    height: auto;
    display: flex;
    margin: 20% 2% 20% 0px;
}

#menuLateral div div {
    width: 3%;
    height: 20px;
    margin: auto;
    margin-left: 10%;
    margin-right: 8%;
}

#menuLateral a {
    width: 70%;
    height: 10%;
    text-align: left;
}

.divDecorativo{
    background-color: rgb(255, 255, 255);
}

#menuLateralImagen{
    height: auto;
    margin: 0px;
}

#menuLateral div:hover .divDecorativo {
    background-color: rgb(0, 247, 255);
}


#menuLateral div:hover h1{
    color: rgb(0, 247, 255);
    scale: 1.15;
    transition: all 0.4s ease 0s;
}

#menuLateral img {
    width: 40%;
    height: 30%;
    border-radius: 100px;
    margin: auto;
}

#menuLateral h1 {
    color: white;
    font-size: 22px;
    animation-duration: 3s;
    animation-name: animacionMenu;
    text-align: left;
}

@keyframes animacionMenu {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(30px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
} 
/* Estilos base */
#fondoEncabezado {
    background-image: url("https://images4.alphacoders.com/741/74166.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    border: solid 2px black;
    display: flex;
    justify-content: space-between; /* Alinear los elementos al extremo */
    align-items: center; /* Centrar verticalmente */
    padding: 20px; /* Agregar un espacio interior */
}

#fondoIzquierdo img {
    margin-bottom: -20px;
    animation-duration: 5s;
    animation-name: imagen;}

#fondoIzquierdo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fondoIzquierdo div {
    margin: 20px;
}

#fondoDerecho {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#fondoEncabezado h1 {
    color: white;
}

@keyframes animacionTexto {
    0% {
        opacity: 0;
        font-size: 42px;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 0.5;
        font-size: 42px;
        transform: translateY(30px);
    }
    80% {
        opacity: 1;
        font-size: 42px;
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        font-size: 42px;
    }
}

@keyframes animacionTextoTitulos {
    0% {
        opacity: 0;
        font-size: 32px;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 0.5;
        font-size: 32px;
        transform: translateY(30px);
    }
    80% {
        opacity: 1;
        font-size: 32px;
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        font-size: 32px;
    }
}

@keyframes imagen {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}


#nombre {
    margin: auto;
    padding-top: 120px;
    padding-left: 0px;
    font-size: 42px;
    animation-duration: 3s;
    animation-name: animacionTexto;
}
#apellidos {
    margin: auto;
    padding-top: 10px;
    padding-left: 100px;
    font-size: 42px;
    animation-duration: 3s;
    animation-name: animacionTexto;
}

#titulo1,
#titulo2 {
    text-align: center;
    margin: 10px;
    padding: 0;
    font-size: 32px;
    animation-duration: 3s;
    animation-name: animacionTextoTitulos;}

#descarga{
    height: auto;
    width: 150%;
    color: black;
    background-color: aqua;
    border: 3px solid black;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-top: 10%;

}

#descarga h1{
    font-size: 20px;
    font-weight: 800;
    color: black;
}

#descarga:hover{
    transition: all .2s; 
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    }



/* Media queries */
@media screen and (max-width: 768px) {
    #fondoEncabezado {
        flex-direction: column;
    }

    #fondoIzquierdo,
    #fondoDerecho {
        width: 100%;
    }
}

main {
    width: 88%;
    height: auto;
    margin: auto;
    background-color: rgba(240, 248, 255, 0.623);
    display: block;
    padding: 20px;
}

#sobreMi {
    display: flex;
    background-image: url("https://png.pngtree.com/background/20220720/original/pngtree-light-gray-background-texture-picture-image_1684251.jpg");
    background-size: cover;
    margin: auto;
    width: 80%;
    height: auto;
    border-radius: 20px;
    border: 2px black solid;
    justify-content: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 10%;
}

#sobreMi div {
   width: 50%;
   float: left;
}

#sobreMi h1 {
    margin: auto;
    padding: 40px;
    font-size: 32px;
    letter-spacing: 5px;
}

#sobreMi p {
    margin: auto;
    padding-left: 42px;
    padding-right: 100px;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

#sobreMi img {
    top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;
    height: auto;
    border: 2px solid;
}
#sobreMi iframe {
    width: 90%;
    height: 60%;
    position: relative;
}
#sobreMi img:hover{
    transition: all .2s; 
    transform: scale(1.06);
}
#sobreMi iframe:hover{
    transition: all .2s; 
    transform: scale(1.02);
}

.tituloMain {
    color: white;
    padding-left: 10px;
    margin: 70px;
    font-size: 21px;
    background: linear-gradient(to right, black, transparent);
    border-radius: 50px;
    margin-top: 150px;
}

#datosDeContacto {
    border: 2px black solid;
    background-image: url("https://png.pngtree.com/background/20220720/original/pngtree-light-gray-background-texture-picture-image_1684251.jpg");
    background-size: cover;
    margin: auto;
    border-radius: 20px;
    width: 80%;
    height: 485px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#datosDeContacto div {
    background-size: cover;
    margin: 0 0 10px 0;
    width: 50%;
    height: calc(100% / 3 - 20px);
    display: flex;
    align-items: center;
}

#datosDeContacto img {
    width: 80px;
    border: 2px solid black;
    border-radius: 100px;
    margin-right: 40px; /* Agrega un margen derecho para separar la imagen del texto */
    margin-left: 50px;
}

#datosDeContacto h1 {
    margin-right: 20px; 
    font-size: 24px;
}

#datosDeContacto h2 {
    margin-right: 20px; 
    font-size: 18px;
    color: rgba(0, 0, 0, 0.757);
}

#datosDeContacto img:hover {
    transition: all .2s; 
    transform: scale(1.15);
    border-color: rgb(0, 255, 242);
}

/* Formacion Academica (no me peges gema que no puedo poner tildes con el teclado en ingles)*/
#contenedoresCartas {
    width: 90%;
    height: auto;
    display: flex;
    background-color: rgba(240, 248, 255, 0.518);
    justify-content: center;
    margin: auto;
    padding: 100px 0 100px 0;
    border-radius: 20px;
}


#contenedorCarta, #contenedorCarta2, #contenedorCarta3 {
    font-size: 0.8em;
    margin-left: 50px;
    margin-right: 50px;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 350px;
    animation: saltos ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#contenedorCarta:hover {
    animation: none ;
    animation-play-state: paused;
    animation-fill-mode: forwards;  
}
#contenedorCarta2:hover {
    animation: none ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    
}
#contenedorCarta3:hover {
    animation: none ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    
}
#contenedorCarta:hover #carta1 {
    transform: rotateY(180deg);
}

.carta {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3a/Ies_Ram%C3%B3n_del_Valle_Incl%C3%A1n%2C_Sevilla_Este%2C_Sevilla%2C_Espa%C3%B1a%2C_2015_07.JPG");
    background-size: cover;
    height: 330px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 350px;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    border-radius: 20px;
    border: 2px solid black;
}
.carta p{
    margin-top: 252px;
    margin-left: 312px;
    font-size: 20px;
    color: rgb(0, 247, 255);
}

#contenedorCarta3 .carta {
    background-image: url("https://adaits.es/files/2017/03/noticia-sin-imagen.jpg");
    background-size: cover;
    cursor: default;
    height: 330px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 350px;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    border-radius: 20px;
    border: 2px solid black;
}

#carta1 {
    background-image: url("https://1.bp.blogspot.com/-IhQnDajooAY/WuMFJjzxETI/AAAAAAAAAMs/iVaFdPotkIcU21a5eGit3_LcdAD-LrjAACK4BGAYYCw/s1600/Logo%2BMoliner%2Bm%25C3%25A1s%2Bp%25C3%25ADxeles%2B2.JPG");
    background-size: 400px 350px;
    cursor: default;
    height: 330px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 350px;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    border-radius: 20px;
    border: 2px solid black;
}
#carta1 p{
    margin-top: 252px;
    margin-left: 312px;
    font-size: 20px;
    color: rgb(0, 247, 255);
}
#carta1 li{
    text-align: left;
}

#contenedorCarta2,#contenedorCarta3 .carta li{
    text-align: left;
}


.frontal, .detras {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 20px;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.detras {
    transform: rotateY( 180deg);
}

#contenedorCarta2:hover .carta {
    transform: rotateY(180deg);
}

#contenedorCarta3:hover .carta {
    transform: rotateY(180deg);
}

#contenedorCarta #carta1 .detras {
    background-image: url("https://media.istockphoto.com/id/1194009136/es/vector/abstracto-vector-blanco-fondo.jpg?s=612x612&w=0&k=20&c=KZcOB_67qsKFNgL6xnRyWMnpfDNmMFHHwlgshpxS01c=");
    background-size: cover;
    border-radius: 20px;
}
#contenedorCarta2 .carta .detras {
    background-image: url("https://media.istockphoto.com/id/1194009136/es/vector/abstracto-vector-blanco-fondo.jpg?s=612x612&w=0&k=20&c=KZcOB_67qsKFNgL6xnRyWMnpfDNmMFHHwlgshpxS01c=");
    background-size: cover;
    border-radius: 20px;
} 
#contenedorCarta3 .carta .detras {
    background-image: url("https://media.istockphoto.com/id/1194009136/es/vector/abstracto-vector-blanco-fondo.jpg?s=612x612&w=0&k=20&c=KZcOB_67qsKFNgL6xnRyWMnpfDNmMFHHwlgshpxS01c=");
    background-size: cover;
    border-radius: 20px;
}

@keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
}
@-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
}

#saltos {
    animation-name: saltos;
    animation-timing-function: ease;
}
@keyframes saltos {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

/* Experiencia Laboral */

#experienciaLaboral {
    background-image: url("https://png.pngtree.com/background/20220720/original/pngtree-light-gray-background-texture-picture-image_1684251.jpg");
    background-size: cover;
    margin: auto;
    width: 80%;
    height: auto;
    border-radius: 20px;
    border: 2px black solid;
    padding-top: 40px;
}

.empresa{
    width: 100%;
    height: 350px;

}

.experienciaTexto {
    width: 90%; /* Cambiado para ajustar el tama単o del texto */
    height: auto;
    padding: 20px; /* A単adido un padding para separar el texto de la imagen */
}

.experienciaImagen {
    height: 200px;
    width: 30%; /* Cambiado para ajustar el tama単o de la imagen */
    float: right; /* Alinea la imagen a la derecha */
    margin-left: 20px; /* A単ade un margen izquierdo para separar la imagen del texto */
}

#experienciaLaboral li {
    margin-left: 60px;
}

#experienciaLaboral p {
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    text-align: left;
}

.logos-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.logos img {
    object-fit: cover contain;
    width: 100px;
    height: 45px;
    border: solid 2px black;
    border-radius: 20px;
}

.logos  {
    margin-right: 20px;
}

#experienciaLaboral #empresa1,#empresa2 {
    width: 200px;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

#experienciaLaboral img:hover{
    scale: 1.1;
    transition: 1s;
}

/* FOOTER */
#footer{
    background-image: url(Imagenes/black_abstract_geometric_background.png);
    background-size: cover;
    width: 90%;
    height: 400px;
    border: solid 3px black;
    position: relative;
    justify-content: center;
    margin: auto;
    justify-content: space-between;
    display: flex;
}



#footer div {
    background-image: url(https://cdn.create.vista.com/api/media/medium/183355834/stock-photo-blank-abstract-grey-textured-background?token=) ;
    width: 20%;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin: auto;
}

#footer div img {
    width: 64px;
    margin-top: 20px;
    margin-left: 115px;
    border-radius: 180px;
    border: solid 3px transparent;
}

#footer div h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

#footer #footerCorreo h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

#footer #redesSociales {
    width: 30%;
}

#footer img:hover {
    scale: 1.1;
    transition: all 1s;
    border: solid 3px aqua;
}

#redesSociales a img {
    margin-left: 42px;
    width: 64px;
}